<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proposal Helper</title>
</head>
<body>
    <div>
        <h1>How is your comp plan structured?</h1>
    </div>
    <div class="quarterly-variable-comp-div">
        <form>
            <label>Quarterly Quota:</label>
                <input type="number" name="quarterly-quota" id="quarterly-quota" placeholder="237500">
            <label>Annualized Variable Compensation:</label>
                <input type="number" name="variable-comp" id="variable-comp" placeholder="80000">
        </form>
    <div>
        <h2>Current ICR:</h2>
        <h2 id="current-icr-output"></h2>
    </div>
    </div>
    <div>
        <h1>How are you doing for the quarter?</h1>
    </div>
    <div>
        <h2>Percentage to Quota:</h2>
        <h2 id="percentage-to-quota-output"></h2>
    </div>
    <div>
        <form>
            <label>Current Attainment:</label>
            <input type="number" placeholder="200000" id="current-attainment">
        </form>
    </div>
    <div>
        <h1> What is the structure of the current deal?</h1>
    </div>
        <form>
            <label>Current Term Length in Years</label>
                <input type="number" name="current-term-length" id="current-term-length" placeholder="2">
            <label>Current ACV</label>
                <input type="number" name="current-acv" id="current-acv" placeholder="100000">
            <label>Current Revenue in Years 2+</label>
                <input type="number" name="current-multi-year-revenue" id="current-multi-year-revenue" placeholder="100000">
            <label>Current Services Hours</label>
                <input type="number" name="current-services-hours" id="current-services-hours" placeholder="80">
            <label>Current Payment Terms</label>
            <select id="current-payment-terms">
                <option value="Annual" name="annual-payments" selected>Annual</option>
                <option value="Semi-Annual or Quarterly" name="semi-annual-payments">Semi-Annual or Quarterly</option>
            </select>
        </form>
        <div>
            <button id="submit">Submit</button>
        </div>
    <div>
        <h2>Expected Payout:</h2>
        <h2 id="current-deal-commission"></h2>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>