<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proposal Helper</title>
</head>
<body>
    <h1>How are you doing for the quarter?</h1>
    <form>
        <input type="text" placeholder="Type in your current attainment here.">
    </form>
    <h1> What is the structure of the current deal?</h1>
        <form>
            <label>Current Term Length in Years</label>
                <input type="text" name="current-term-length" id="current-term-length" placeholder="2">
            <label>Current ACV</label>
                <input type="text" name="current-acv" id="current-acv" placeholder="50,000">
            <label>Current Revenue in Years 2+</label>
                <input type="text" name="current-multi-year-revenue" id="current-multi-year-revenue" placeholder="100,000">
            <label>Current Services Hours</label>
                <input type="text" name="current-services-hours" id="current-services-hours" placeholder="80">
            <label>Current Payment Terms</label>
            <select id="current-payment-terms">
                <option value="Annual" name="annual-payments" selected>Annual</option>
                <option value="Semi-Annual or Quarterly" name="semi-annual-payments">Semi-Annual or Quarterly</option>
            </select>
        </form>
        <button id="submit">Submit</button>
    <div>
        <h2 id="current-deal-commission"></h2>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>