/* Document-wide Styling */

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    transition: opacity .1s;
}

h1 {
    font-weight: 100;
    margin-bottom: 2rem;
    padding: 0;
}

h2 {
    display: inline-block;
    font-weight: 100;
    margin: 0;
    padding-left: 1rem;
}

.hero {
    position: relative;
    background: url(../images/hero.jpg);
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 90vh;
}

.hero-text {
    margin-top: 60vh;
    margin-left: 10vh;
    font-size: 60px;
}

.hero-text-divider {
    position: absolute;
    width: 9.3rem;
    height: 0px;
    margin-top: -1rem;
    margin-left: 10vh;

    border: .5px solid #000000;
}

.hero-subtitle {
    font-size: 20px;
    margin-left: 10vh;
}

/* Styling the forms */
.form-body {
    position: relative;
    background-color: #FFFFFF;
    padding: 10vh 15%;
}

.form-body-container {
    background-color: #E6E7E9;
    border-radius: 3px;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.25);
}

input {
    outline: none;
    border-radius: 3px;
    height: .5rem;
    padding: 10px;
    font-size: 14px;
    border: none;
    margin-bottom: 2rem;

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    transition: box-shadow .2s;
}

input:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

input:focus {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

form {
    font-size: 16px;
}

select {
    outline: none;
    font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
    opacity: .5;
}

input:invalid:required {
    border: solid 1px red;
}

label {
    margin-left: 1rem;
    margin-right: 1rem;
}

.comp-details {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}

.quarterly-variable-comp-div {
    margin-bottom: 2rem;
}

.percentage-to-quota {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.current-deal-form {
    margin-top: 10rem;
    text-align: center;
}

/* Styling the button */

.submit-button {
    margin: 2rem;
    width: 7rem;
    height: 2.5rem;
    outline: none;
    cursor: pointer;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;

    border: 1px solid #000000;

    border: none;
    border-radius: 5px;

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    transition: box-shadow .1s;
}

.submit-button:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
}

.expected-payout-header {
    display: none;
    margin-bottom: 5rem;
}

.expected-payout {
    display: none;
    margin-bottom: 1rem;
}

.percentage-to-quota-output-header {
    display: none;
}

.results {
    margin-top: 5rem;
    text-align: center;
    padding-bottom: 10rem;
}

#recommended-deals-container {
    display: none;
}

.recommended-deals {
    margin: 10vh 10% -6vh;
}

.recommended-one-year-deal {
    display: inline-block;
    width: 40%;
    background-color: #E6E7E9;
    padding: 2rem;
    vertical-align: middle;
    height: 25rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transition: box-shadow, .3s;
}

.recommended-one-year-deal:hover {
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.25);
}

.recommended-three-year-deal {
    display: inline-block;
    width: 40%;
    margin-left: 5rem;
    background-color: #E6E7E9;
    padding: 2rem;
    vertical-align: middle;
    height: 25rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transition: box-shadow, .3s;
}

.recommended-three-year-deal:hover {
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.25);
}